/*  Lime green: #A1CD3A */
/*  Blue:  #25408F  */

html {
	min-height: 100%;
	height: auto;
}
body {
	font: 14px Tahoma;
	/*background-color: #FFFFFF;*/
	background-position: bottom left;
	background-repeat: repeat-x;
	margin: 0px;
}

div#container {
	margin: 0 auto 0 auto;
	width: 930px;
}

img {
	border: none;
}

/*********** Fixed positioning for sponsor logos *********/
div#fixed_br {
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: right;
}
div#fixed_bl {
	position: fixed;
	bottom: 15px;
	left: 15px;
}
div#fixed_br img {
	text-align: left;
}

/********************* Header **********************/
div#header {
	background-color: #25408F;   /* Blue */
	/*text-align: center;*/
}
div#logo {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
img#logo {
	border: 0px;
	width: 500px;
}

/********************* Nav **********************/
div#nav {
	float: left;
	width: 150px;
	/*margin-top: 10px;*/
	padding: 15px 12px 15px 0px;
	/*border-right: 3px solid #D59831;*/
	border-right: 3px solid black;
	text-align: right;
}
div.nav {
	padding: 8px 0px 8px 0px;
}

a.nav {
	/*color: #11A5C1;*/
	color: #A1CD3A;
	text-decoration: none;
	font: 18px "Trebuchet MS";
	letter-spacing: 2px;
	font-weight: bold;
}
a.nav:hover {
	/*color: #0D788C;*/
	color: #A1CD3A;  /*todo*/
	text-decoration: underline;
}
/*
a.nav-current {
	color: #11A5C1;
	text-decoration: none;
	font: 18px "Trebuchet MS";
	letter-spacing: 2px;
	font-weight: bold;
}
a.nav-current:hover {
	color: #0D788C;
	text-decoration: underline;
}
*/

div#current {
	/*color: #000000;*/
	color: black;
	text-decoration: none;
	font: 18px "Trebuchet MS";
	letter-spacing: 2px;
	font-weight: bold;
}


/********************* Body **********************/
div {
	color: black;
}
div#body {
	/*width: 500px;*/
	width: 600px;
	padding-bottom: 80px;
	/*margin: 0 180px 0 180px;*/
	margin: 0 auto 0 auto;
}
div#body-text {
	width: 550px;
	margin: 0 25px 0;
	/*padding: 0 5px;*/
}
img.border {
	/*border: 2px solid #D59831;*/
	border: 2px solid #25408F;
}
a {
	/*color: #11A5C1;*/
	color: #25408F;
	text-decoration: underline;
}
a:hover {
	/*color: #0D788C;*/
	color: #A1CD3A;
}
div.center {
	width: 100%;
	text-align: center;
}
div.right {
	float: right;
	margin-left: 10px;
}
div.left {
	float: left;
	margin-right: 10px;
}
h1 {
	font: 24px "Trebuchet MS";
	letter-spacing: 1px;
	font-weight: bold;
	/*color: #0D788C;*/
	color: #25408F;
}
h1#title {
	font: 72px "Book Antiqua";
	letter-spacing: 20px;
	font-weight: bold;
	/*color: #83E165;*/
	/*color: #A1CD3A;*/
	margin: 0 0 0 0;
}
h1#title2 {
	font: 50px "Book Antiqua";
	letter-spacing: 8px;
	font-weight: normal;
	/*color: #83E165;*/
	/*color: #A1CD3A;*/
	margin: 0 0 0 0;
}
h2 {
	font: 18px "Lucida Grande";
	letter-spacing: 1px;
	font-weight: bold;
	/*color: #11A5C1;*/
	color: #A1CD3A;
	padding-top: 10px;	
}
h1.center {
	text-align: center;
}
h2.center {
	text-align: center;
}
h3 {
	font: 14px "Lucida Grande";
	font-weight: bold;
	/*color: black;*/
	margin: 0 0 0 0;
	
}
p {
	text-align: justify;
	line-height: 1.5;
	padding-top: 0px;
}
p.center {
	text-align: center;
}
b {
	/*color: #0D788C;*/
	color: #A1CD3A;
}
li {
	text-align: justify;
	line-height: 1.5;
}
table.border {
	/*border: 2px solid #D59831;*/
	border: 2px solid #25408F;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}
td.border {
	/*border: 1px solid #D59831;*/
	border: 1px solid #25408F;
}
th.border {
	/*border: 1px solid #D59831;*/
	border: 1px solid #25408F;
}

/* Make this colour match the title logo */
th {
	/*color: #D59831;*/
	color: #25408F;
}
p.error {
	font-weight: bold;
	color: #960000;
	background-color: #FFFF00;
}

table.results {
	/*border: 2px solid #D59831;*/
	border: 2px solid #25408F;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	text-align: center;
}
td.results {
	/*border: 1px solid #D59831;*/
	border: 1px solid #25408F;
}
th.results {
	/*border: 1px solid #D59831;*/
	border: 1px solid #25408F;
}

tr.results-overall {
	font-weight: bold;
	/*border: 2px solid #D59831;*/
	border: 2px solid #25408F;
}
